.card-container {
    background: transparent;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    font-size: 30px;
    height: 200px;
    margin: 0 auto;
    width: 150px;
}

.card {
    perspective: 1000px;
    position: relative;
    transform-style: preserve-3d;
    transition: ease-in-out all 250ms;
}

.card.selected {
    transform: rotateY(180deg);
    transition: ease-in-out all 250ms;
}

.card .card-image {
    height: 200px;
    transform-style: preserve-3d;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(75, 25, 90, 0.5);
    width: 150px;
}

.image.front, .image.back {
	backface-visibility: hidden;
    height: 200px;
    position: absolute;
    left: 0;
    top: 0;
    width: 150px;
}

.image.front {
    transform: rotateY(180deg);
	z-index: 2;
}

.image.back {
	transform: rotateY(0deg);
}

.card-container.matched {
    pointer-events: none;
    opacity: 0.5;
}

.card-container.matched .image.front {
    transform: unset;
    backface-visibility: unset;
}