:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  font-weight: 400;
  line-height: 1.5;
  overflow: hidden;
  text-rendering: optimizeLegibility;
}

body {
  background: #BCCECC;
  margin: 0;
  padding: 0;
  padding-top: 60px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
